@import "mixins";
section { 
    padding: 1cm;
    display: flex;

img{ 
    @include main-img;
 
}
}
section{ 
    display: grid;
div{
    text-align: center;
}
h2 {
    font-size: 1.3cm;
    font-variant: bold;
}
 .menu{
    height: 100%;
    width: 30cm;
}   
}

div{
    align-content: center;
.social-icons {
    height: .5cm; 
}
.fab{
    padding: .2cm;
    color: $primary-color;
}
    }
        

.text{
    color: $primary-color;
}
button{
    color: $primary-color;
    border: 2px solid $primary-color;
}
